#viewer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.viewer_pane {
    background-color: #000;
    flex: 1;
    position: relative;
}

#viewer canvas {
    width: 100% !important;
    height: 100% !important; 
}