<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/fetchPDB.css">
    <link rel="stylesheet" href="../static/css/left_pane.css">
    <link rel="stylesheet" href="../static/css/viewer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nosifer&display=swap">
    <script src="https://3Dmol.org/build/3Dmol-min.js"></script>
    <script src="https://3Dmol.org/build/3Dmol.ui-min.js"></script>
    <title>GRAVITy - Simulation Workspace</title>
</head>

<body>
    <!-- ========================= HEADER SECTION STARTS HERE ========================== -->

    <div class="header">
        <!-- Navigation bar starts here -->
        <ul class="nav">

            <!-- ************************ File Tab ************************ -->

            <li onclick="toggleDropdown(event)">File
                <!-- File Dropdown Menu -->
                <ul class="dropdown" id="fileDropdown">

                    <!-- Import PDB file from local device -->
                    <li onclick="document.getElementById('fileInput').click()">Import File
                        <input type="file" id="fileInput" accept=".pdb" style="display: none;" onchange="loadPDBFile(event)">
                    </li>

                    <!-- Fetch PDB structure from PDB DataBase -->
                    <li onclick="openModal()">Get with PDB ID
                    </li>

                </ul>
            </li>

            <!-- ************************ Edit Tab ************************ -->

            <li>Edit</li>

            <!-- ****************** Tutorials Tab ************************ -->

            <li>Tutorials</li>

            <!-- ****************** Help Tab ************************ -->

            <li>Help</li>
        </ul>
        <!-- Navigation bar ends here -->
    </div>

    <!-- ========================= HEADER SECTION ENDS HERE ========================== -->


    <!-- =========================== MAIN BODY STARTS HERE =========================== -->

    <div class="container">

        <!-- ============ LEFT COLUMN SECTION STARTS HERE ============== -->

        <div class="column left_pane" contenteditable="false">
            <div class="resizer"></div>
        </div>

        <!-- ============ LEFT COLUMN SECTION ENDS HERE =============== -->

        <!-- =========== RIGHT COLUMN SECTION STARTS HERE ============= -->

        <div class="column viewer_pane" contenteditable="false">
            <div id="viewer">
            </div>
        </div>

        <!-- ============= RIGHT COLUMN SECTION ENDS HERE ============= -->

    </div>

    <!-- ****************** BOTTOM LOGO LABEL ************************ -->    

    <div class="logo-label">
        <span class="w3-jumbo nosifer-regular">G R A V </span>
        <img class="alpha_img" src="../static/images/barrel.png"></img>
        <span class="w3-jumbo nosifer-regular">T y</span>
    </div>

    <!-- =========================== MAIN BODY ENDS HERE =========================== -->


    <!-- =========================== OTHER FUNCTION STARTS HERE =========================== -->

    <div id="pdbModal" class="modal">
        <div class="modal-header">Fetch Protein Structure <span class="close-btn" onclick="closeModal()">&times;</span>
        </div>
        <div class="form-row">
            <label for="pdb_id">Enter PDB ID</label>
            <div class="input-container">
                <input type="text" id="pdbInput" name="pdb_id" placeholder="1SMD" required>
                <span class="tooltip">?
                    <span class="tooltiptext">Input PDB ID for Protein</span>
                </span>
            </div>
        </div>
        <button class="fetchBtn" onclick="fetchPDB()">Fetch</button>
    </div>

    <!-- =========================== OTHER FUNCTION ENDS HERE =========================== -->


    <!-- =========================== SCRIPT STARTS HERE =========================== -->
     
    <script src="../static/js/navbar.js"></script>
    <script src="../static/js/window_resizer.js"></script>

    <!-- =========================== SCRIPT ENDS HERE =========================== -->

</body>

</html>